/* sidebar.css */

/* Sidebar container */
.sidebar{
    width:240px;
    background:#0d6efd;
    color:white;
    min-height:100vh;
    padding:20px;
    box-shadow:2px 0 8px rgba(0,0,0,0.1);
}

.sidebar h4{
    margin-bottom:30px;
    font-weight:600;
}

.sidebar a{
    display:block;
    color:white;
    padding:10px 12px;
    text-decoration:none;
    border-radius:6px;
    margin-bottom:8px;
    transition:0.3s;
}

.sidebar a:hover{
    background:#0b5ed7;
}

.sidebar .active{
    background:#084298;
}